In [25]:
import pandas as pd

In [26]:
print("↓Týdenní rozvrh.↓")
tabulka = pd.read_csv("rozvrh.csv")

↓Týdenní rozvrh.↓

In [27]:
tabulka

       Pondělí         Úterý        Středa        Čtvrtek           Pátek
0                                 Tělocvik       Tělocvik
1   Matematika   Informatika    Matematika     Cizí jazyk       Managment
2  Informatika  Teorie grafů  Teorie grafů   Teorie grafů  Krizové řízení
3  Informatika                                 Matematika    Teorie grafů
4                  Managment   Informatika
5   Cizí jazyk                 Informatika     Matematika             NaN

In [28]:

type(tabulka)

pandas.core.frame.DataFrame

In [29]:
streda = tabulka["Středa"]
streda

0        Tělocvik
1      Matematika
2    Teorie grafů
3
4     Informatika
5     Informatika
Name: Středa, dtype: object

In [30]:
 print("◄Rozvrh úspěšne načten ☺!►")

◄Rozvrh úspěšne načten ☺!►

In [31]:
import pandas as pd

In [32]:
po = pd.Series(["matematika", "informatika", "Teorie grafů"])
ut = pd.Series(["informatika", "informatika", "cizí jazyk"])
st = pd.Series(["teorie grafů", "matematika", "informatika"])
ct = pd.Series(["matematika", "matematika", "volno"])
pa = pd.Series(["cizí jazyk", "informatika", "volno"])

In [33]:
pd.concat([po, ut, st, ct, pa], axis="columns")

              0            1             2           3            4
0    matematika  informatika  teorie grafů  matematika   cizí jazyk
1   informatika  informatika    matematika  matematika  informatika
2  Teorie grafů   cizí jazyk   informatika       volno        volno

In [34]:
import pandas as pd

In [35]:
pd.DataFrame({
    "pondeli": ["matematika", "informatika", "Teorie grafů"],
    "utery": ["matematika", "informatika", "Teorie grafů"],
    "streda": ["matematika", "informatika", "Teorie grafů"],
    "ctvrtek": ["matematika", "informatika", "Teorie grafů"],
    "patek": ["matematika", "informatika", "Teorie grafů"]
})

        pondeli         utery        streda       ctvrtek         patek
0    matematika    matematika    matematika    matematika    matematika
1   informatika   informatika   informatika   informatika   informatika
2  Teorie grafů  Teorie grafů  Teorie grafů  Teorie grafů  Teorie grafů